PORT=3001
NEXT_PUBLIC_SANITY_PROJECT_ID="xxxxxxxx"
NEXT_PUBLIC_SANITY_DATASET="testing"
SANITY_REVALIDATE_SECRET="Secret"
SANITY_API_WRITE_TOKEN="Token" 
# HTTPS_PROXY="http://" // For IIT proxy, uncomment this line and set the proxy URL. For example: HTTPS_PROXY="http://proxy.example.com:8080"